In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv
application_df = pd.read_csv("Resources/charity_data.csv")

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts()

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_counts[app_counts < 700].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 700].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE          8
AFFILIATION               6
CLASSIFICATION            7
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\ryans\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df.IS_SUCCESSFUL.values
X = application_df.drop(columns=["IS_SUCCESSFUL"]).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=33, stratify=y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the logistic regression model
log_classifier = LogisticRegression(solver="lbfgs",max_iter=200)

# Train the model
log_classifier.fit(X_train,y_train)

# Evaluate the model
y_pred = log_classifier.predict(X_test)
print(f" Logistic regression model accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Logistic regression model accuracy: 0.468

In [14]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=33)

# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.711

In [15]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5829 - accuracy: 0.7121
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5577 - accuracy: 0.7274
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5538 - accuracy: 0.7288
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7305
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5510 - accuracy: 0.7302
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7310
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5491 - accuracy: 0.7302
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5475 - accuracy: 0.7339
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5474 - accuracy: 0.7317
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7325
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - accuracy: 0.7333
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7343
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7334
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7341
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7326
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7335
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7336
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7332
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7339
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7346
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7346
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7352
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7338
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7345
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7339
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.7345
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7354
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7346
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7341
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7338
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - accuracy: 0.7344
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7345
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5409 - accuracy: 0.7360
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7353
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5406 - accuracy: 0.7355
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5409 - accuracy: 0.7349
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7350
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5411 - accuracy: 0.7335
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7361
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5408 - accuracy: 0.7349
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5405 - accuracy: 0.7355
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7356
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5402 - accuracy: 0.7352
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7370
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7360
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7368
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7353
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7369
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7350
268/268 - 1s - loss: 0.5532 - accuracy: 0.7280 - 573ms/epoch - 2ms/step
Loss: 0.5532398819923401, Accuracy: 0.7280466556549072

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")